@font-face {
    font-family: "AlmarenaDisplayBold";
    src: url('webFonts/AlmarenaDisplayBold/font.woff2') format('woff2'), url('webFonts/AlmarenaDisplayBold/font.woff') format('woff');
  }
    
   h1 {
      font-family: "AlmarenaDisplayBold";
      font-size: 50pt;
    }
    
    h2 {
        font-family: "AlmarenaDisplayBold";
        font-size: 38pt;
    }
  
    h3 {
        font-family: "Almarena";
        font-weight: 500;
        font-size: 28pt;
    }

    h4 {
        font-family: "AlmarenaDisplayBold";
        font-size: 16pt;
    }

  body {
      font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif
  }
  
  .paragraph-one {
    font-family: "Almarena";
    font-size: 16px;
  }
  
  .intro--days {
    background-color: #173D36;

  }

  .negative-heading {
    color: #FFFFFF;
  }

  .negative-paragraph {
    color: #FFFFFF;
    font-family: "Almarena";
    font-size: 22pt;
    font-weight: 300;
  }
  
  .cta-negative {
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    font-size: 16pt;
    font-family: "Almarena";
    font-weight: 400;
    text-decoration: none;
    color: #173D36;
  }

  .cta {
    background-color: #EA543B;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    font-size: 16pt;
    font-family: "Almarena";
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
  }

  .footer {
    background-color: #EA543B;
    padding-block: 20px;
    padding-inline: 20px;
  }

  